<ion-content>
    <go-header class="ion-hide-sm-down" [hasSearch]="true"
               [styles]="[headerStyle.sticky]"></go-header>
    <ion-grid>
        <ion-row>
            <ion-col size="12" sizeMd="3">
                <h1>
                    <ion-text>{{text.title}}</ion-text>
                </h1>
                <ion-text>{{text.subTitle}}</ion-text>
                <div>
                    <img src="../../../assets/undraw/undraw_heartbroken_cble.svg" alt="">
                </div>
            </ion-col>

            <!-- khong co phong-->
<!--            <ion-col *ngIf="pendingBookings.length === 0">-->
<!--                <div class="ion-text-center">-->
<!--                    <ion-text>{{text.noBooking}}</ion-text>-->
<!--                </div>-->
<!--                <div>-->
<!--                    <ion-button routerLink='/pages/tabs/explore/home' expand="block"-->
<!--                                color="primary">{{text.suggestBtn}}</ion-button>-->
<!--                </div>-->
<!--            </ion-col>-->

            <ion-col size="12" sizeMd="9">
                <ion-row>
                    <!-- thêm *ngFor loop qua staycho ion-col dưới-->
                    <ion-col size="12" sizeMd="3">
                        <go-history-card [hasFavoriteBtn]="true"></go-history-card>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
