<ion-tabs>
    <ion-tab-bar class="ion-hide-sm-up" slot="bottom">
        <ion-tab-button tab="explore">
            <ion-icon name="search-outline"></ion-icon>
            <ion-label>{{text.tab1}}</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="speakers">
            <ion-icon name="list"></ion-icon>
            <ion-label>{{text.tab2}}</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="map">
            <ion-icon name="heart-outline"></ion-icon>
            <ion-label>{{text.tab3}}</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="profile">
            <ion-icon name="person-outline"></ion-icon>
            <ion-label>{{text.tab4}}</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>
