ion-card {
  margin: 0 7.5px 0 7.5px;
  text-align: left;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);

  ion-card-subtitle {
    text-transform: uppercase;
    color: #B0B0B1;
  }

  ion-card-title {
    font-size: .9rem;
    color: black;
  }
}


ion-modal {
  .custom-modal {
    @media only screen and(min-width: 768px) {
      .modal-wrapper.sc-ion-modal-ios, .modal-shadow.sc-ion-modal-ios {
        --width: 400px;
        --height: 240px;
        min-height: 240px !important;
        max-height: 240px !important;
        height: 240px !important;
      }
      .sc-ion-modal-ios-h {
        --min-height: 240px;
        --max-height: 24px;
      }
    }
  }
}
