ion-card {
  margin: 0 7.5px 0 7.5px;
  text-align: left;
  box-shadow: none;

  ion-card-subtitle {
    text-transform: uppercase;
    color: #B0B0B1;
  }

  ion-card-title {
    font-size: .9rem;
    color: black;
  }
}
