<ion-header *ngIf="isMobile && stayDetail">
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-button slot="icon-only"
                        (click)="goBack()">
                <ion-icon name="chevron-back-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>{{stayDetail.stayName}}</ion-title>
        <ion-buttons slot="end">
            <ion-button slot="icon-only" (click)="resetNavRoot()">
                <ion-icon name="home-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content [scrollEvents]="true">
    <go-header *ngIf="!isMobile"
               [hasSearch]="true"
               [styles]="[headerStyle.sticky]"></go-header>

    <ng-container *ngIf="stayDetail">
        <ng-container *ngIf="stayDetail.imgUrls">
            <app-gallery-cover *ngIf="stayDetail.imgUrls.length !==0"
                               [imgUrls]="stayDetail.imgUrls"></app-gallery-cover>
        </ng-container>
    </ng-container>

    <ion-grid fixed="true">
        <ion-row>
            <ion-col size-md="8" size="12">
                <div>
                    <!--  on   PC -->
                    <ion-card class="ion-hide-sm-down">
                        <ion-card-content>
                            <app-description *ngIf="stayDetail"
                                             [stayDetail]="stayDetail"></app-description>
                            <app-map-preview *ngIf="stayDetail"
                                             [lng]="stayDetail.lng"
                                             [lat]="stayDetail.lat"></app-map-preview>
                        </ion-card-content>
                    </ion-card>

                    <!--  on   Mobile -->
                    <div class="ion-hide-sm-up">
                        <app-description *ngIf="stayDetail"
                                         [stayDetail]="stayDetail"></app-description>
                        <app-map-preview *ngIf="stayDetail"
                                         [lng]="stayDetail.lng"
                                         [lat]="stayDetail.lat"></app-map-preview>
                    </div>
                </div>
                <app-comment></app-comment>
            </ion-col>
            <ion-col class="ion-hide-sm-down" size="4">
                <app-host-card *ngIf="hostInfo"
                               [host]="hostInfo"></app-host-card>
                <app-booking-card *ngIf="stayDetail"
                                  [stayDetail]="stayDetail"
                                  (BookingBtnClicked)="goToBookingInfo()"></app-booking-card>
            </ion-col>
        </ion-row>
    </ion-grid>
    <go-footer></go-footer>
    <go-payment-tab *ngIf="stayDetail"
                    (BookingBtnClicked)="goToBookingInfo()"
                    [price]="stayDetail.price"></go-payment-tab>
</ion-content>
