.go-slices-type {
  padding: 1.5rem 0 2.5rem 0;

  ion-grid {
    --ion-grid-column-padding: 15px;

    .title {
      margin-bottom: 1.5rem;

      h2 {
        font-weight: 600;
      }

      .text-between {
        display: flex;
        justify-content: space-between;
      }
    }

  }
}
