ion-header {
  --background: transparent;
  ion-toolbar {
    --background: transparent;
    ion-title {
      line-height: 40px;
      padding-left: 50px;
      --background: url('../../../../assets/images/logo_only_black.png') no-repeat left center;
    }
  }
}


ion-content {
  --background: var(--go-app-background);
}

.section--header {
  margin: 0;
  font-weight: 700 !important;
  @media screen and (max-width: 767px) {
    font-size: 18px;
  }
}
