.go-footer {
  padding: 1.5rem 0 0rem 0;
  background: #FCFCFC;
  ion-grid {
    --ion-grid-column-padding: 15px;

    h4 {
      color: black;
      font-weight: 600;
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.16);
    }

    img {
      &.logo {
        width: 210px;
        margin-right: auto;
      }

      &.paymethod {
        width: 100%;
        max-width: 300px;
        margin-top: 1.5rem;
      }

      &.certification {
        width: 200px;
        padding-right: .5rem;
        margin-right: auto;
      }

    }
  }

  .copyright {
    width: 100%;
    text-align: center;
    background: white;
    padding: .75rem;
    margin-top: 2.5rem;
    font-size: .9rem;

    p {
      margin: 0;
      color: #B0B0B1;
    }
  }

}
