<div class="go-intro-app">
    <ion-grid fixed="true">
        <ion-row>
            <ion-col size-md="6" size-xs="12">
                <div class="title">
                    <h2><ion-text color="secondary">{{ text.title }}</ion-text></h2>
                    <div>{{ text.description }}</div>
                </div>
                <div class="box-app">
                    <ion-row>
                        <ion-col size="6">
                            <img src="https://wannago.cf/storage/library/QR.png" alt="QC CODE">
                        </ion-col>
                        <ion-col size="6">
                            <img src="https://wannago.cf/storage/library/apple-store.svg" alt="wanago app store">
                            <img src="https://wannago.cf/storage/library/google-play.svg" alt="wanago app chrome">
                        </ion-col>
                    </ion-row>
                </div>
            </ion-col>
            <ion-col size-md="6" size-xs="12">
                <div class="box-banner">
                    <img src="https://wannago.cf/storage/library/app-resize.png" alt="Wanago app">
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</div>
