<ion-row>
  <ion-col size="12">
    <div class="title">
      <h2><ion-text>{{text.title}}</ion-text></h2>
    </div>
  </ion-col>
  <ion-col size="12">
    <ion-item>
      <ion-input placeholder="{{ text.plname }}"></ion-input>
    </ion-item>
  </ion-col>
  <ion-col size="12">
    <ion-item>
      <ion-input placeholder="{{ text.plemail }}"></ion-input>
    </ion-item>
  </ion-col>
  <ion-col size="12">
    <ion-item>
      <ion-input placeholder="{{ text.plphone }}"></ion-input>
    </ion-item>
  </ion-col>
  <ion-col size="12">
    <ion-item>
      <ion-input placeholder="{{ text.plusername }}"></ion-input>
    </ion-item>
  </ion-col>
  <ion-col size="12">
    <ion-item>
      <ion-input type="password" placeholder="{{ text.plpassword }}"></ion-input>
    </ion-item>
  </ion-col>
</ion-row>
<ion-row class="ion-align-items-center ion-justify-content-center">
  <ion-col size="6" class="d-flex ion-justify-content-end">
    <ion-button expand="block"
                color="secondary"
                routerLink='/explore/search'>{{text.btnLogin}}</ion-button>
  </ion-col>
</ion-row>
