.go-service {
  padding: 2.5rem 0;

  ion-grid {
    --ion-grid-column-padding: 15px;

    .title {
      margin-bottom: 1.5rem;

      h2 {
        color: black;
        font-weight: 600;
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.16);
      }
    }

    ion-card {
      margin: 0;
      img {
        width: 100%;
        height: auto;
      }

      ion-card-header {
        padding: .5rem 1rem 0rem 1rem;

        ion-card-title {
          font-size: 1.2rem;
        }

      }
    }
  }
}