.go-service {
  padding: 1.5rem 0 2.5rem 0;

  ion-grid {
    --ion-grid-column-padding: 15px;

    .title {
      margin-bottom: 1.5rem;

      h2 {
        font-weight: 600;
      }
    }

    ion-card {
      margin: 0;

      img {
        width: 100%;
        height: auto;
        max-height: 190px;
      }

      ion-card-header {
        padding: .5rem 1rem 0rem 1rem;

        ion-card-title {
          font-size: 1.2rem;
        }

      }
    }
  }
}
