.go-one-hundred {
  padding: 1.5rem 0 2.5rem 0;

  ion-grid {
    --ion-grid-column-padding: 8px;

    .title {
      margin-bottom: 0.2rem;

      h2 {
        font-weight: 600;
      }

      .text-between {
        display: flex;
        justify-content: space-between;
      }
    }

  }
}


.swiper-swrapper {
  padding-top: 4px;
  padding-bottom: 4px;
}

ion-slide {
  padding-top: 4px;
  padding-bottom: 4px;
}
