<ion-grid class="header"
          [ngClass]="styles">
    <ion-row class="header__container ion-justify-content-between ion-align-items-center">
        <ion-col size-sm="2" size-md="1"
                 class="header__container-logo">
            <img *ngIf="!isMobile"
                 class="ion-margin-start" width="40px" height="40px"
                 (click)="resetNavRoot()"
                 [src]="logoBlack ? logoBlackUrl : logoWhiteUrl">
            <img *ngIf="isMobile"
                 class="ion-margin-start" width="80px" height="80px"
                 (click)="resetNavRoot()"
                 [src]="mobileLogo">
        </ion-col>
        <ion-col size="10" size-md="3" *ngIf="hasSearch">
        </ion-col>
        <ion-col size="8"
                 class="header__container-navs ion-hide-md-down ion-align-self-end">
            <ion-grid>
                <ion-row class="ion-justify-content-end ion-align-items-center">
                    <ion-col size="auto" class="header__container-navs-button"
                             routerLink='/pages/tabs/explore/home'>{{text.btn1}}</ion-col>
                    <ion-col size="auto" class="header__container-navs-button"
                             routerLink='/pages/tabs/explore/faqs'>{{text.btn2}}</ion-col>
                    <ng-container *ngIf="!isSignIn">
                        <ion-col size="auto" class="header__container-navs-button"
                                 routerLink='/pages/tabs/profile/login'>{{text.btn3}}</ion-col>
                        <ion-col size="auto" class="header__container-navs-button"
                                 routerLink='/pages/tabs/profile/register'>{{text.btn4}}</ion-col>
                    </ng-container>
                    <ng-container *ngIf="isSignIn">
                        <ion-col size="auto" class="header__container-navs-button"
                                 routerLink='/pages/tabs/profile/profile-info'>{{text.btn5}}</ion-col>
                        <ion-col size="auto" class="header__container-navs-button"
                                 (click)="signOut()">{{text.btn6}}</ion-col>
                    </ng-container>
                </ion-row>
            </ion-grid>
        </ion-col>
    </ion-row>
</ion-grid>
