:host {
  z-index: 100 !important;
  .header {
    background-color: var(--ion-color-step-0);
    &__container {
      &-search {
      }

      &-logo {
        &:hover {
          cursor: pointer;
        }
      }

      &-navs {
        &-button {
          padding: 10px 20px;
          color: white;
          &:hover, &:active {
            box-shadow: 0 2px white;
            cursor: pointer;
          }
        }
      }
    }
  }

  .header.sticky {
    border-bottom: 1px solid var(--ion-color-step-100);
    //box-shadow: 8px 0px 12px var(--ion-color-step-300);
    .header__container-navs-button {
      color: black;
      &:hover, &:active {
        box-shadow: 0 2px black;
        cursor: pointer;
      }
    }
  }

}

.bg-transparent {
  background-color: transparent !important;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  //right: 0;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 100;
}

.absolute {
  position: absolute;
  width: 100vw;
  top: 0;
  z-index: 100;
}

.text-white {
  color: var(--ion-color-step-950)
}
