<ion-content>
    <div *ngIf="!isLogin">
        <ion-grid>
            <ion-row>
                <ion-col size="12" sizeMd="3">
                    <div>
                        <img src="../../../assets/undraw/undraw_sign_in_e6hj.svg" alt="">
                    </div>
                </ion-col>
                <ion-col size="12">
                    <div class="ion-text-center">
                        <ion-text>{{txt.noLogin}}</ion-text>
                    </div>
                    <div>
                        <ion-button expand="block"
                                    color="primary"
                                    (click)="presentModal()" >{{txt.loginBtn}}</ion-button>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
    <div *ngIf="isLogin">
        <go-header class="ion-hide-sm-down" [hasSearch]="true"
                   [styles]="[headerStyle.sticky]"></go-header>
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-item lines="none">
                        <ion-avatar slot="start">
                            <img [src]="userInfo.avatar"
                                 alt="">
                        </ion-avatar>
                        <ion-label>
                            <h1>{{userInfo.name}}</h1>
                            <p><ion-text color="primary">{{txt.customer}}</ion-text></p>
                        </ion-label>
                    </ion-item>
                    <ion-item class="description" lines="none">
                        <p>{{txt.description}}</p>
                    </ion-item>
                    <ion-item lines="none">
                        <h1>{{txt.menu.title}}</h1>
                    </ion-item>
                    <ion-item-group>
                        <ion-item [routerLink]="['/pages', 'tabs', 'profile', 'profile-info']">
                            <i nz-icon nzType="user" nzTheme="outline"></i>&nbsp;&nbsp;&nbsp;
                            <ion-label>{{txt.menu.m1}}</ion-label>
                        </ion-item>
                        <ion-item [routerLink]="['/pages', 'tabs', 'profile', 'booking-history']">
                            <i nz-icon nzType="calendar" nzTheme="outline"></i>&nbsp;&nbsp;&nbsp;
                            <ion-label>{{txt.menu.m2}}</ion-label>
                        </ion-item>
                        <ion-item [routerLink]="['/pages', 'tabs', 'profile', 'language']">
                            <i nz-icon nzType="global" nzTheme="outline"></i>&nbsp;&nbsp;&nbsp;
                            <ion-label>{{txt.menu.m3}}</ion-label>
                        </ion-item>
                    </ion-item-group>
                </ion-col>
            </ion-row>
        </ion-grid>
        <go-footer></go-footer>
    </div>
</ion-content>


