<ion-card class="ion-no-padding ion-no-margin">
  <ion-card-header>
    <ion-row>
      <ion-col size="8">
        <ion-card-title>
          Thành viên luôn được hưởng ưu đãi
        </ion-card-title>
        <ion-card-subtitle>
          <ion-text>Trở thành thành viên để hưởng các ưu đãi của thành viên, đặt phòng nhanh hơn, khuyến mãi nhiều hơn</ion-text>
        </ion-card-subtitle>
      </ion-col>
    </ion-row>
  </ion-card-header>
  <ion-card-content>
<!--    <ion-button><span class="ion-padding-horizontal">Đăng Nhập</span></ion-button>-->
  </ion-card-content>
</ion-card>
