ion-card{
  //background-color: var(--ion-color-step-50);
  background-image: url("https://wannago.cf/storage/library/bgLogin.png");
  -webkit-background-image: url("https://wannago.cf/storage/library/bgLogin.png");
  //background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: right;
  background-size: 300px 170px;
}
