ion-card{
  background-color: var(--ion-color-step-50);
  background: url("../../../../../assets/images/login-bg.png") no-repeat;
  //background-attachment: fixed;
  background-position: right;
  background-size: 300px 170px;
}
