<ion-header class="ion-hide-sm-up">
    <ion-toolbar>
        <ion-buttons>
            <ion-back-button defaultHref="/pages/tabs/profile"></ion-back-button>
        </ion-buttons>
        <ion-title>
            {{text.header}}
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <go-header [hasSearch]="true"
               *ngIf="!isMobile"
               [styles]="[headerStyle.sticky]"></go-header>
    <div class="ion-padding-top">
        <ion-grid class="" fixed="true">
            <ion-row>
                <ion-col sizeMd="8">
                    <ion-card *ngIf="!isMobile"
                              class="ion-no-margin">
                        <ion-card-header>
                            <ion-text>{{text.header}}</ion-text>
                        </ion-card-header>
                    </ion-card>

                    <div class="booking-card"
                         *ngFor="let booking of allBooking">
                        <div class="booking-card__status">
                            <div>
                                <ion-text [color]="booking.status ==='succeeded' ? 'success' : 'danger'">{{booking.status}}</ion-text>
                            </div>
                        </div>
                        <div class="booking-card__content">
                            <div class="booking-card__content__items date">
                                <div>{{booking.checkIn.split('-').join('/')}}-{{booking.checkOut.split('-').join('/')}}</div>
                            </div>
                            <div class="booking-card__content__items stay-name">
                                <div>{{booking.stayName}}</div>
                            </div>
                            <div class="booking-card__content__items flex">
                                <div class="flex__item">
                                    <span class="bolder">{{'Số khách: '}}</span>
                                    <span>{{booking.guestCount}}</span>
                                </div>
                                <div class="flex__item">
                                    <span class="bolder">{{'Tổng tiền: '}}</span>
                                    <span>{{booking.totalPrice | currency:'VND'}}</span>
                                </div>
                            </div>
                            <div class="booking-card__content__items detail">
                                <div (click)="goToStayDetail(booking.stayId)">{{'chi tiết'}}</div>
                            </div>
                        </div>
                    </div>
                </ion-col>
                <ion-col class="ion-hide-md-down" sizeMd="3" offset-md="1">
                    <ion-button class="ion-margin-bottom no-active-page"
                                color="medium"
                                fill="outline"
                                expand="block"
                                [routerLink]="['/pages', 'tabs', 'profile', 'profile-info']">{{text.btn1}}</ion-button>
                    <ion-button expand="block">{{text.btn2}}</ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
    <go-footer *ngIf="!isMobile"></go-footer>
</ion-content>
