<ion-header class="ion-hide-sm-up">
    <ion-toolbar>
        <ion-buttons>
            <ion-back-button defaultHref="/pages/tabs/profile"></ion-back-button>
        </ion-buttons>
        <ion-title>
            {{text.header}}
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <go-header [hasSearch]="true"
               class="ion-hide-sm-down"
               [styles]="[headerStyle.sticky]"></go-header>
    <div class="go-bg-gray-50 ion-padding-top">
        <ion-grid class="ion-padding-top" fixed="true">
            <ion-row class="ion-margin-top">
                <ion-col size-sm="8">
                    <h1 class="ion-margin-bottom ion-hide-sm-down">{{text.header}}</h1>
                    <ion-card class="ion-no-margin go-no-shadow">
                        <ion-card-content>
                            <ion-row>
                                <ion-col size-sm="6">
                                        <h1>Số khách:</h1>
                                        <p>1</p>


                                        <h1>Thời gian :</h1>
                                        <p>21/2/2020-22/2/2020</p>


                                        <h1>Tổng tiền thanh toán:</h1>
                                        <p>1.000.000 vnđ</p>

                                </ion-col>
                                <ion-col size-sm="6">
                                    <h1> Tên của stay đặt ở đây</h1>
                                    <p> Địa chỉ của stay đặt ở đây Địa chỉ của stay đặt ở đây Địa chỉ của stay đặt ở đây</p>
                                    <img src="" alt="">
                                </ion-col>
                            </ion-row>
                        </ion-card-content>
                    </ion-card>
                </ion-col>
                <ion-col class="ion-hide-sm-down" size-sm="3" offset-sm="1">
                    <ion-button class="ion-margin-bottom"
                                color="medium"
                                fill="outline"
                                expand="block"
                                [routerLink]="['/pages', 'tabs', 'profile', 'profile-info']">{{text.btn1}}</ion-button>
                    <ion-button expand="block">{{text.btn2}}</ion-button>

                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
    <go-footer class="ion-hide-sm-down"></go-footer>
</ion-content>
