ion-card.search-card {
  border-radius: 4px;
  //transition: ease-in-out all .3s;
  padding: 1rem;

  &:hover, &:active {
    box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.3);
    //transform: translate(0, -5px);
  }

  @media screen and (max-width: 767px) {
    padding: 0;
  }

  ion-card-header {
    padding-bottom: 0;

    ion-card-title {
      color: var(--ion-color-dark);
      font-size: 36px;
      letter-spacing: -2px;
      font-weight: 700;
      @media screen and (max-width: 767px) {
        font-size: 24px;
        letter-spacing: 0px;
      }
    }
  }

  ion-card-content {
    ion-item {
      //--margin-top: 1rem;
      --padding-start: 0;
      --padding-end: 0;

      .item-native {
        .item-inner {
          padding: 0;
        }
      }
    }

    ion-button {
      width: 100%;
      padding: .1rem;
      margin: 1.5rem auto;
      margin-bottom: 0;
    }
  }
}


ion-item.search-item {
  margin-top: 12px;

  ion-label {
    font-size: 12px;
    font-weight: 800;
    color: rgba(44, 47, 52, 0.76);
  }

  ion-input {
    border: 1px solid rgba(143, 153, 169, 0.22);
    border-radius: 4px;
    --padding-start: 8px;
    --padding-end: 40px;

    input.native-input.sc-ion-input-ios {
      padding-left: 8px !important;
      width: 90%;
    }

    &.has-focus {
      border-color: var(--ion-color-primary);
    }
  }
}

nz-date-picker {
  width: 100% !important;
}

nz-select {
  width: 100%;
  height: 40px;
}

.suffix-icon {
  position: absolute;
  bottom: 11px;
  right: 11px;
}
