<ion-card class="search-card">
    <ion-card-header>
        <ion-card-title class="ion-text-capitalize">{{ text.title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <ion-grid class="ion-no-padding">
            <ion-row>
                <ion-col size="12">
                    <ion-item class="search-item" lines="none">
                        <ion-label class="ion-text-uppercase" position="stacked">
                            <ion-text>{{ text.address }}</ion-text>
                        </ion-label>
                        <nz-input-group nzSize="large" [nzSuffix]="suffixIconLocation">
                            <input nz-input
                                   [(ngModel)]="cityName"
                                   (ngModelChange)="onCityChange()"
                                   [nzAutocomplete]="autoCity">
                        </nz-input-group>
                        <ng-template #suffixIconLocation>
                            <i nz-icon nzType="search"></i>
                        </ng-template>
                        <nz-autocomplete nzBackfill [nzDataSource]="filteredCities" #autoCity></nz-autocomplete>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="6">
                    <ion-item class="search-item" lines="none">
                        <ion-label class="ion-text-uppercase" position="stacked">
                            <ion-text>{{ text.checkIn }}</ion-text>
                        </ion-label>
                        <nz-date-picker [(ngModel)]="checkIn"
                                        [nzDisabledDate]="disabledDate"
                                        readOnly="true"
                                        nzSize='large'
                                        nzFormat="dd/MM/yyyy"
                                        nzPlaceHolder=""></nz-date-picker>
                    </ion-item>
                </ion-col>
                <ion-col size="6">
                    <ion-item class="search-item" lines="none">
                        <ion-label class="ion-text-uppercase" position="stacked">
                            <ion-text>{{ text.checkOut }}</ion-text>
                        </ion-label>
                        <nz-date-picker [(ngModel)]="checkOut"
                                        [nzDisabledDate]="disabledDate"
                                        readOnly="true"
                                        nzSize='large'
                                        nzFormat="dd/MM/yyyy"
                                        nzPlaceHolder=""></nz-date-picker>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12">
                    <ion-item class="search-item" lines="none">
                        <ion-label class="ion-text-uppercase" position="stacked">
                            <ion-text>{{ text.people }}</ion-text>
                        </ion-label>
                        <ion-input [(ngModel)]="guestCount"
                                   type="number">
                            <ion-icon class="suffix-icon" color="medium" name="person-outline"></ion-icon>
                        </ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>

        </ion-grid>
        <ion-button class="go-font-weight-700"
                    expand="block"
                    (click)='search()'>{{text.searchBtn}}</ion-button>
    </ion-card-content>
</ion-card>
