<div class="go-question">
  <ion-grid fixed="true">
    <ion-row>
      <ion-col size-md="6" size-xs="12">
        <div class="title">
          <h2>{{ text.title }}</h2>
          <div>{{ text.description }}</div>
        </div>
        <div class="box-app">
          <ion-row>
            <ion-col size="6">
              <img src="https://wannago.cf/storage/library/QR.png" alt="QC CODE">
            </ion-col>
            <ion-col size="6">
              <img src="https://wannago.cf/storage/library/google-play.svg" alt="wanago app chrome">
              <img src="https://wannago.cf/storage/library/apple-store.svg" alt="wanago app store"></ion-col>
          </ion-row>
        </div>
      </ion-col>
      <ion-col size-md="6" size-xs="12">
        <go-search-card></go-search-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
