<div class="go-tab sticky ion-hide-md-up">
    <ion-grid>
        <ion-row class="ion-justify-content-around go-tab__bar">
            <ion-col size="auto">
                <div class="go-tab__bar-item"
                     routerLink='/home'
                     [ngClass]="{'active-tab': activatedTab === 1}">
                    <ion-icon class="go-tab__bar-item-icon"

                              name="map"></ion-icon>
                    <ion-text class="go-tab__bar-item-text">{{text.tab1}}</ion-text>
                </div>
            </ion-col>
            <ion-col size="auto">
                <div class="go-tab__bar-item">
                    <ion-icon class="go-tab__bar-item-icon"
                              name="list"></ion-icon>
                    <ion-text class="go-tab__bar-item-text">{{text.tab2}}</ion-text>
                </div>
            </ion-col>
            <ion-col size="auto">
                <div class="go-tab__bar-item">
                    <ion-icon class="go-tab__bar-item-icon"
                              name="heart"></ion-icon>
                    <ion-text class="go-tab__bar-item-text">{{text.tab3}}</ion-text>
                </div>
            </ion-col>
            <ion-col size="auto">
                <div class="go-tab__bar-item"
                     routerLink='/profile'
                     [ngClass]="{'active-tab': activatedTab === 4}">
                    <ion-icon class="go-tab__bar-item-icon"
                              name="contact"></ion-icon>
                    <ion-text class="go-tab__bar-item-text">{{text.tab4}}</ion-text>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</div>
