.go-bg-gray {
  border-bottom: 5rem solid white;
  padding-bottom: 3rem;
}
.content {
  padding-top: 2rem;
  background-color: #FCFCFC;
  .step-container {
    display: flex;
    width: 100%;
    overflow-x: scroll;
    padding-bottom: .5rem;
    &::-webkit-scrollbar {
      height: 3px;
      width: 0px;
    }
    .step-item {
      display: inline-block;
      position: relative;
      height: 40px;
      color: black;
      text-transform: uppercase;
      background-color: #E5E5E5;
      margin-right: 10px;
      margin-left: 48px;
      .step-item__text {
        line-height: 40px;
        font-size: 1rem;
        padding: 0 .5rem;
      }

      &::after,&::before {
        content: '';
        position: absolute;
      }
      &::before {
        left: -48px;
        border: 20px solid #E5E5E5;
        border-right: 10px solid #E5E5E5;
        border-left: 38px solid transparent;
      }
      &::after {
        right: -48px;
        border: 20px solid transparent;
        border-right: 10px solid transparent;
        border-left: 38px solid #E5E5E5;
      }
    }
    @media screen and (max-width: 767px) {
      &::-webkit-scrollbar {
        background: rgba(#ffb100, .3);
        width: 0px;
      }
      .step-item {
        min-width: 240px;
        text-align: center;
        height: 30px;
        margin-right: 5px;
        margin-left: 38px;
        &:last-child {
          margin-right: 0;
        }
        .step-item__text {
          line-height: 30px;
          padding: 0px 8px;
        }

        &::before {
          left: -30px;
          border: 15px solid #E5E5E5;
          border-right: 7px solid #E5E5E5;
          border-left: 23px solid transparent;
        }
        &::after {
          right: -30px;
          border: 15px solid transparent;
          border-right: 7px solid transparent;
          border-left: 23px solid #E5E5E5;
        }
      }
    }
    .step-item.step-item-active {
      background-color: var(--ion-color-primary);
      color: white;
      &::before {
        border-color: var(--ion-color-primary);
        border-left-color: transparent;
      }
      &::after{
        border-left-color: var(--ion-color-primary);
      }
    }
  }
}


ion-item {
  --background-color: transparent;
}
