<ion-header *ngIf="isMobile">
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>{{step === 1 ? text.step1Text : text.step2Text}}</ion-title>
        <ion-buttons slot="end">
            <ion-button slot="icon-only" (click)="resetNavRoot()">
                <ion-icon name="home-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="go-bg-gray-50">
        <go-header *ngIf="!isMobile"
                   [hasSearch]="true"
                   [styles]="[headerStyle.sticky]"></go-header>
        <div class="content ion-padding-top">
            <ion-grid fixed="true">
                <div class="step-container">
                <span class="step-item" [ngClass]="{'step-item-active': step === 1}">
                    <span class="step-item__text">{{text.step1Text}}</span>
                </span>
                    <span class="step-item" [ngClass]="{'step-item-active': step === 2}">
                    <span class="step-item__text">{{text.step2Text}}</span>
                </span>
                </div>
            </ion-grid>
        </div>

        <!--  STEP 1  -->
        <div class="on-padding-top" *ngIf="step === 1">
            <app-step-one></app-step-one>
        </div>
        <!--/  STEP 1  -->
        <!-- STEP 2   -->
        <div class="ion-padding-top" *ngIf="step === 2">
            <app-step-two></app-step-two>
        </div>
        <!--/ STEP 2    -->

        <go-footer></go-footer>
    </div>
</ion-content>
