<ion-content>
    <div class="header">
        <ion-grid fixed="true">
            <ion-row class="ion-justify-content-start ion-align-items-center">
                <ion-col size="auto">
                    <img class="logo"
                         src="../../../../assets/images/logo_only_black.png" alt="wannago logo">
                </ion-col>
                <ion-col size="auto">
                    <ion-text><h1 class="ion-no-margin">WANNAGO</h1></ion-text>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>

    <div class="content ion-padding-top">
        <ion-grid fixed="true">
            <div class="step-container">
                <span class="step-item" [ngClass]="{'step-item-active': step === 1}">
                    <span class="step-item__text">{{text.step1Text}}</span>
                </span>
                <span class="step-item" [ngClass]="{'step-item-active': step === 2}">
                    <span class="step-item__text">{{text.step2Text}}</span>
                </span>
            </div>
        </ion-grid>
    </div>

    <!--  STEP 1  -->
    <div class="ion-padding-top" *ngIf="step === 1">
        <app-step-one></app-step-one>

    </div>
    <!--/  STEP 1  -->

    <!-- STEP 2   -->
    <div class="ion-padding-top" *ngIf="step === 2">
        <app-step-two></app-step-two>
    </div>
    <!--/ STEP 2    -->

    <go-footer></go-footer>
</ion-content>
