@media (max-width: 576px) {
  ion-card {
    box-shadow: none;
    margin-top: -3rem;
    margin: -3rem -15px 0 -15px;

    ion-card-header {
      display: none;
    }
  }
}

ion-header {
  padding: 0;

  ion-toolbar {
    --background: #ff672a;
    --border-width: 0;
    --color: white;

    ion-buttons {
      --color: white;

      ion-back-button {
        color: white;
      }
    }

    ion-title {
      text-transform: uppercase;
    }
  }
}

ion-content {
  --background: var(--go-app-background);
  padding-bottom: 3rem;

  ion-card-header h1 {
    color: black;
    font-weight: 600;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.16);
    text-transform: uppercase;
    font-size: 1.2rem;
    margin-bottom: 0;
  }

  ion-card-content {
    @media (min-width: 576px) {
      ion-row {
        flex-direction: row-reverse;
        --ion-grid-column-padding: 15px;
      }
    }

    h2 {
      font-weight: bold;
      color: black;
      font-size: 1.2rem;
      margin-bottom: .5rem;
    }

    .avatar {
      max-width: 200px;

      img {
        width: 100%;
      }
    }

    ion-item {
      --padding-start: 0;
    }
  }
}
.btn-logout {
  color: darken($color: #ff672a, $amount: .3);
  margin-top: 2rem;
  margin-bottom: -1rem;
  border-top: 1px solid gainsboro;
  padding: .5rem;
  padding-bottom: 0;
  text-align: center;
  cursor: pointer;
}