<ion-header class="ion-hide-sm-up">
    <ion-toolbar>
        <ion-buttons>
            <ion-back-button defaultHref="/pages/tabs/profile"></ion-back-button>
        </ion-buttons>
        <ion-title>
            {{text.header}}
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <go-header [hasSearch]="true"
               class="ion-hide-sm-down"
               [styles]="[headerStyle.sticky]"></go-header>
    <div class="ion-padding-top ion-padding-bottom">
        <ion-grid class="ion-padding-top" fixed="true">
            <ion-row class="ion-margin-top">
                <ion-col size-md="8">
                    <ion-card class="ion-no-margin">
                        <ion-card-header><h1 class="ion-hide-sm-down">{{text.header}}</h1></ion-card-header>
                        <ion-card-content>
                            <ion-row fixed="true" [formGroup]="updateUserInfo">
                                <ion-col size="12" size-sm="6">
                                    <!-- hiển thị screen lớn -->
                                    <h2>{{text.pfAvatar}}</h2>
                                    <div class="avatar">
                                        <div>
                                            <img [src]="userInfo.avatar!= null ? userInfo.avatar : 'https://wannago.cf/storage/library/notfound.png'"
                                                 alt="user avtart">
                                        </div>
                                    </div>
                                </ion-col>
                                <ion-col size="12" size-sm="6">
                                    <h2>{{text.pfUpdateInfo}}</h2>
                                    <input type="hidden" formControlName="userId">
                                    <ion-item>
                                        <ion-label position="floating" color="secondary" color="secondary">{{text.pfName}}
                                        </ion-label>
                                        <ion-input type="text" formControlName="name"></ion-input>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label position="floating" color="secondary">{{text.pfEmail}}</ion-label>
                                        <ion-input type="email" formControlName="emailAddress" readonly></ion-input>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label position="floating" color="secondary">{{text.pfPhoneNumber}}</ion-label>
                                        <ion-input type="text" formControlName="phone"></ion-input>
                                    </ion-item>
                                    <ion-button expand="block" class="ion-margin-top" (click)="update()">{{text.pfUpdateInfo}}</ion-button>
                                    <ion-row>
                                        <ion-col class="ion-text-justify">
                                            <ion-text class="ion-text-justify"
                                                      color="secondary"
                                                      (click)="changePassword()">{{text.pfChangePwd}}
                                            </ion-text>
                                        </ion-col>
                                    </ion-row>
                                </ion-col>
                            </ion-row>
                        </ion-card-content>
                    </ion-card>
                </ion-col>
                <ion-col class="ion-hide-md-down" size-md="3" offset-md="1">
                    <ion-button class="ion-margin-bottom"
                                expand="block">{{text.btn1}}</ion-button>
                    <ion-button expand="block"
                                color="medium"
                                fill="outline"
                                (click)="goToBookingHistory()">{{text.btn2}}</ion-button>
                </ion-col>
                <ion-col class="ion-hide-md-up" size="12" >
                    <div class="btn-logout" (click)="logout()">{{text.logout}}</div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
    <go-footer class="ion-hide-sm-down"></go-footer>
</ion-content>
