<ion-header class="ion-hide-sm-up">
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref=""></ion-back-button>
        </ion-buttons>
        <ion-title>
            {{text.header}}
        </ion-title>
        <ion-buttons slot="end">
            <ion-button>
                <ion-icon name="home" routerLink='/pages/tabs/explore/home'></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size-sm="4" push-sm="4">
                <div class="form-card">
                    <div class="form-card__content">
                        <!-- STEP 1   -->
                        <app-reset-form *ngIf="mode === RESET_MODE"
                                        (sendSucceeded)="emailSent()"></app-reset-form>
                        <!-- STEP 2   -->
                        <app-confirm-form *ngIf="mode === CONFIRM_MODE"
                                            (confirmSucceeded)="passwordDidChanged()"></app-confirm-form>
                    </div>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
