:host {
  ion-card {
    margin-bottom: 12px;
    margin-top: 12px;
    transition: 300ms;
    &:hover {
      box-shadow: rgba(black, 0.3) 0px 3px 10px;
      cursor: pointer;
    }

    ion-card-title {
      font-size: 1rem;
    }

  }
}

@media screen and (min-width: 575px) {
  ion-card {
    height: 390px;
    overflow: hidden;
  }
}
