:host {
  ion-card {
    margin-bottom: 12px;
    margin-top: 12px;
    transition: 300ms;

    &:hover {
      box-shadow: rgba(black, 0.3) 0px 3px 10px;
    }

    ion-slides .slide-container {
      .swiper-pagination.swiper-pagination-bullets {
        .swiper-pagination-bullet {
          background: white !important;
          opacity: 0.5 !important;
        }
      }
    }

    ion-card-content, ion-card-header {
      padding: 8px 12px
    }

    ion-card-header {
      padding-bottom: 5px;

      ion-card-subtitle {
        margin: 0;
        .subtitle {
          display: flex;
          justify-content: space-between;
          font-weight: lighter;
          line-height: 20px;
          &__item {
            font-size: 14px;

            &--medium {
              color: var(--ion-color-medium);
              font-size: 12px;
            }

            &--bold {
              font-weight: bold;
            }
          }

          &__item.rating {
            ion-icon {
              color: #ff5a7b;
            }
          }
        }
      }

      ion-card-title {
        font-size: 16px;
        font-weight: bold;
        color: rgba(0, 0, 0, 0.81);
        &:focus {
          cursor: pointer;
        }
      }
    }

    ion-card-content{
      padding-top: 0;

    }
    ion-card-content .content {
      &__description {
        font-size: 14px;
        &__item {
          line-height: 20px;
        }
        &--bold {
          font-weight: bold;
          color: var(--ion-color-primary);
        }

        &--lineThrough {
          text-decoration-line: line-through;
          -webkit-text-decoration-line: line-through;
        }
      }
    }
    overflow: hidden;

    @media screen and (max-width: 767px) {
      //height: 370px;
    }
  }
}
