<ion-content>
    <div class="wrapper">
        <ion-grid fixed="true">
            <ion-row class="ion-align-items-center">
                <ion-col size-xs="12" size-md="6">
                    <figure><img src="https://wannago.cf/storage/library/logo1024x1024_color_white_opacity.png"
                                 alt="logo wanago"></figure>
                </ion-col>
                <ion-col size-xs="12" size-md="5">
                    <app-form-register></app-form-register>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>
