<div class="ion-padding">
    <ion-text>{{stayDetail.city}}
        <ion-icon name="arrow-forward-outline"></ion-icon>
        {{stayDetail.district}}
        <ion-icon name="arrow-forward-outline"></ion-icon>
        {{stayDetail.ward}}</ion-text>
</div>

<div class="ion-padding">
    <h1>{{stayDetail.stayName}}</h1>
</div>
<div class="primary-info">
    <ion-item lines="none">
        <ion-icon slot="start"
                  color="primary" name="location-outline"></ion-icon>
        <ion-label>{{stayDetail.ward}}, {{stayDetail.district}}, {{stayDetail.city}}         <a>Xem bản đồ</a>
        </ion-label>

    </ion-item>
    <ion-item lines="none">
        <ion-icon slot="start"
                  color="primary" name="business-outline"></ion-icon>
        <ion-label>{{stayDetail.stayTypeName}}</ion-label>
    </ion-item>
</div>
<div class="ion-padding">
    <ion-text class="ion-text-justify">
        {{stayDetail.stayDescription}}
    </ion-text>
</div>

<div class="ion-padding">
    <ion-grid *ngIf="utilities.length > 0"
              class="ion-no-padding">
        <ion-row>
            <h1>Tiện ích căn hộ</h1>
        </ion-row>
        <ion-row class="ion-no-padding">
            <ion-col size-sm="4" size="6" *ngIf="stayDetail.stayUtility.wifi">
                <ion-item lines="none">
                    <ion-icon slot="start"
                              color="secondary" name="wifi-outline"></ion-icon>
                    <ion-label>wifi</ion-label>
                </ion-item>
            </ion-col>
            <ion-col size-sm="4" size="6" *ngIf="stayDetail.stayUtility.cooler">
                <ion-item lines="none">
                    <ion-icon slot="start"
                              color="secondary" name="wifi-outline"></ion-icon>
                    <ion-label>cooler</ion-label>
                </ion-item>
            </ion-col>
            <ion-col size-sm="4" size="6" *ngIf="stayDetail.stayUtility.kitchen">
                <ion-item lines="none">
                    <ion-icon slot="start"
                              color="secondary" name="wifi-outline"></ion-icon>
                    <ion-label>cooler</ion-label>
                </ion-item>
            </ion-col>
            <ion-col size-sm="4" size="6" *ngIf="stayDetail.stayUtility.pool">
                <ion-item lines="none">
                    <ion-icon slot="start"
                              color="secondary" name="wifi-outline"></ion-icon>
                    <ion-label>cooler</ion-label>
                </ion-item>
            </ion-col>
            <ion-col size-sm="4" size="6" *ngIf="stayDetail.stayUtility.refrigerator">
                <ion-item lines="none">
                    <ion-icon slot="start"
                              color="secondary" name="wifi-outline"></ion-icon>
                    <ion-label>cooler</ion-label>
                </ion-item>
            </ion-col>
            <ion-col size-sm="4" size="6" *ngIf="stayDetail.stayUtility.smoking">
                <ion-item lines="none">
                    <ion-icon slot="start"
                              color="secondary" name="wifi-outline"></ion-icon>
                    <ion-label>cooler</ion-label>
                </ion-item>
            </ion-col>
            <ion-col size-sm="4" size="6" *ngIf="stayDetail.stayUtility.tivi">
                <ion-item lines="none">
                    <ion-icon slot="start"
                              color="secondary" name="wifi-outline"></ion-icon>
                    <ion-label>cooler</ion-label>
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-grid>
</div>
