<div class="go-special-area">
    <ion-grid fixed="true">
        <ion-row>
            <ion-col size="12">
                <div class="title">
                    <ion-text><h2>{{ text.title }}</h2></ion-text>
<!--                    <div class="text-between">-->
<!--                        {{ text.description }}-->
<!--                        <a href="#">-->
<!--                            {{ text.loadMore }}-->
<!--                        </a>-->
<!--                    </div>-->
                </div>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="highLightPlaces.length === 0">
            <ion-col sizeMd="4" sizeSm="6"
                     *ngFor="let i of [1,2,3,4,5]">
                <ion-card>
                    <div style="width: 100%; height: 200px; background: var(--ion-color-step-100)"></div>
                    <ion-card-content>
                        <ion-skeleton-text animated style="width: 50%;"></ion-skeleton-text>
                        <ion-skeleton-text animated style="width: 100%;"></ion-skeleton-text>
                        <ion-skeleton-text animated style="width: 60%;"></ion-skeleton-text>
                        <ion-skeleton-text animated style="width: 60%;"></ion-skeleton-text>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="highLightPlaces">
            <ng-container *ngFor="let place of highLightPlaces; index as i">
                <ion-col size="12" [sizeMd]="i > 1 ? '4' : '6'" sizeSm="6">
                    <go-area-card [place]="place"></go-area-card>
                </ion-col>
            </ng-container>
        </ion-row>
    </ion-grid>
</div>
