<div class="ion-padding-top">
    <ion-grid class="ion-padding-horizontal" [fixed]="true">
        <ion-row>
            <ion-col><ion-text color="primary"><h1>{{text.result}}</h1></ion-text></ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12" sizeSm="3"><h4 style="margin: 0">{{text.resultCount}}: {{searchCount}} </h4></ion-col>
            <ion-col size="4.5" sizeSm="2" offsetSm="2">
                <nz-date-picker [(ngModel)]="checkIn"
                                [nzDisabledDate]="disabledDateOfCheckIn"
                                [nzPlaceHolder]="text.placeholderCheckIn"
                                [nzShowToday]="false"
                                nzFormat="dd/MM/yyyy"></nz-date-picker>
            </ion-col>
            <ion-col size="4.5" sizeSm="2">
                <nz-date-picker [(ngModel)]="checkOut"
                                [nzDisabledDate]="disabledDateOfCheckOut"
                                [nzPlaceHolder]="text.placeholderCheckOut"
                                [nzShowToday]="false"
                                nzFormat="dd/MM/yyyy"></nz-date-picker>

            </ion-col>
            <ion-col size="3" sizeSm="2">
                <nz-input-group [nzSuffix]="guestSuffix">
                    <input nz-input type="number"
                           [(ngModel)]="guestCount"
                           [max]="10"
                           [placeholder]="text.placeholderCheckIn">
                    <ng-template #guestSuffix>
                        <i nz-icon nzType="user" nzTheme="outline"></i>
                    </ng-template>
                </nz-input-group>
            </ion-col>
            <ion-col size="4.5" sizeSm="1">
                <button nz-button nzType="primary" nzBlock="true">{{text.apply}}</button>
            </ion-col>
        </ion-row>
    </ion-grid>
</div>
