ion-card {
  .host-avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }
  ion-grid {
    --ion-grid-column-padding: 30px;
    .host-info {
      padding-left: .5rem;
      h3 {
        color: black;
        font-size: 1.1rem;
        font-weight: 600;
        margin-bottom: 0rem;
      }

      p.date {
        color: #B0B0B1;
        font-size: .9rem;
      }

      p.phone {
        margin-top: .5rem;
        font-size: 1rem;
        color: black;
        background: #EBEBEB;
        border-radius: 3px;
        text-align: center;
        padding: .25rem .5rem;
      }
    }
  }
}
