<ion-card *ngIf="host">
    <ion-card-content>
        <ion-grid class="ion-no-padding">
            <ion-row>
                <ion-col size="auto">
                    <img class="host-avatar" [src]="host.avatarUrl" alt="">
                </ion-col>
                <ion-col size="8">
                    <ion-label>
                        <h3>Host: {{host.hostName}}</h3>
                        <p>Ngày tham gia: {{host.signInDate}}</p>
                        <p>Số điện thoại: {{host.phoneNumber}}</p>
                    </ion-label>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card-content>
</ion-card>
