<ion-header *ngIf="isMobile">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button [defaultHref]="backBtnUrl"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content [scrollEvents]="true" #searchContent>
    <go-header *ngIf="!isMobile"
               [logoBlack]="true"
               [hasSearch]="true"
               [styles]="[headerStyle.sticky]"></go-header>
    <app-search-param [checkIn]="searchParamCheckIn"
                      [checkOut]="searchParamCheckOut"
                      [searchCount]="totals"
                      [guestCount]="guestCount"></app-search-param>

    <app-search-result [stays]="stays? stays.result : []"
                       [searchCount]="totals"
                       [favorites]="favorites? favorites : []"
                       [onLoading]="onLoading"></app-search-result>

    <ion-grid class="ion-no-padding" fixed="true">
        <ion-row>
            <ion-col size-xs="12">
                <div class="d-flex ion-justify-content-center ion-margin-bottom">
                    <nz-pagination [nzPageIndex]="1"
                                   [nzTotal]="totals"
                                   [nzPageSize]="20"
                                   (nzPageIndexChange)="getPanigation($event)"></nz-pagination>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
    <go-footer *ngIf="!isMobile"></go-footer>
</ion-content>
